* {
    font-family: 'Roboto';
}
body {
    background-color: #101010;
}
h1, h2, h3, h4 {
    color: white;
    text-transform: uppercase;
    font-family: "bebas neue";
    text-align: center;
    font-size: 2rem;
}
p {
    color: white;
}
/*HEADER*/
header {
    width: 100%;
    height: 10vh;
    background-color: #202020;
}
.container {
    margin: 0 auto;
    width: 60vw;
    height: 100%;
}
.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 100px;
    height: 70px;
}
nav {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
/*streamers*/
#streamers {
    height: 80vh;
}
/*FAQ*/
.questions-box {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
}
details {
    padding: 20px;
    color: white;
    margin: 10px;
    background-color: #202020;
}
summary {
    font-family: 'Bebas Neue';
    text-transform: uppercase;
}
/*form*/
#contact {
    height: 50vh;
}
form {
    width: 30vw;
    margin: 0 auto;
    background-color: #202020;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form > div {
    width: 100%;
    display: flex;
}
input {
    border: none;
    width: 40%;
    margin: 10px auto;
}
textarea {
    width: 40%;
    border: none;
    max-width: 40%;
    min-width: 40%;
}
/*footer*/
footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#name {
    font-size: 1.5rem;
    font-family: "bebas neue";
}
#logo-3WA {
    width: 100px;
    height: 100px;
}
